body{
    box-sizing: border-box;
    background-image: url(/assets/images/concrete_seamless.png);
}
header{
    width: 100%;
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 999999;
}

.name{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    background-color: #4AAAA6;
    width: 18%;
    height: 70px;
    margin-left: 200px;
    text-align: center;
    padding-top:30px;
}
.links a{
    font-size: 20px;
    background-color: white;
    text-decoration: none;
    color: #808080;
    
}
header .links ul{
    display: flex;
    position: relative;
    right: 250px;
    gap: 5px;
}
.contact{
    background-color: rgb(255, 255, 255);
    width: 40%;
    position: relative;
    top: 173px;
    left: 200px;
    padding-bottom: 20px;
}
.contact hr{
    width: 90%;
    padding-bottom: 20px;
}
.contact p{
    font-size: 35px;
    color: #4AAAA6;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.contact .formname input{
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}
.contact .formname label{
    font-size: 25px;
    margin-left: 20px;
    color: gray;
}
.contact .formemail input{
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}
.contact .formemail label{
    font-size: 25px;
    margin-left: 20px;
    color: gray;
}
.contact .formmessage label{
    font-size: 25px;
    margin-left: 20px;
    color: gray;
}

.contact button{
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    width: 40%;
    margin-left: 20px;
    background-color: #4AAAA6;
    color: white;
    border: 0;
    margin-bottom: 10px;
}
section{
    display: flex;
}
.connect p{
    font-size: 30px;
    font-weight: bold;
    color: #4AAAA6;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.connect hr{
    width: 90%;
    padding-bottom: 20px;
}
.connect{
    width: 30%;
    background-color: white;
    position: absolute;
    left: 900px;
    top: 173px;
    padding-bottom: 60px;
}
.icons{
    text-align: center;
}
.icons img{
    width: 120px;
    border-radius: 30px;
}
.formmessage textarea{
    width: 80%;
    padding: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}
footer{
    margin-top: 40px;
    background-color: #808080;
    padding: 35px;
    text-align: center;
    border-top: 5px solid #4AAAA6;
    position: relative;
    top: 400px;
}



