body{
    box-sizing: border-box;
    background-image: url(/assets/images/concrete_seamless.png);
}
header{
    width: 100%;
    background-color: #fff;
    height: 100px; 
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 99999;
    position:fixed;
}

.name{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    background-color: #4AAAA6;
    width: 18%;
    height: 70px;
    margin-left: 200px;
    text-align: center;
    padding-top:30px;
}
.links a{
    font-size: 20px;
    background-color: white;
    text-decoration: none;
    color: #808080;
    
}
header .links ul{
    display: flex;
    position: relative;
    right: 250px;
    gap: 5px;
}
.portfolio hr{
    width: 90%;
    position: relative;
    top: 40px;
}
.portfolio{
    background-color: rgb(255, 255, 255);
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;    
    left: 200px;
    top: 173px;
    padding-bottom: 20px;
    justify-content: center;
}
.portfolio>p{
    background-color: rgb(255, 255, 255);
    width: 30%;
    font-size: 35px;
    position: relative;
    left: -190px;
    top: 30px;
    color: #4AAAA6;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.portfolio img{
    width: 250px;
}
.hangman p{
    font-size: 26px;
    background-color:#4AAAA6;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    top: 150px;
}
.rpggame p{
    font-size: 26px;
    background-color: #4AAAA6;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    position: relative;
    top: 150px;
}
.triviagame p{
    font-size: 26px;
    background-color: #4AAAA6;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    position: relative;
    top: 150px;
}
.rutgers p{
    font-size: 26px;
    background-color: #4AAAA6;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    position: relative;
    top: 150px;
}
.rockpaper p{
    font-size: 26px;
    background-color: #4AAAA6;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    position: relative;
    top: 150px;
}
.rockpaper a{
    justify-content: left;
}

.connect p{
    font-size: 30px;
    font-weight: bold;
    color: #4AAAA6;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.connect hr{
    width: 90%;
}
.connect{
    width: 30%;
    background-color: white;
    position: absolute;
    left: 900px;
    top: 173px;
    padding-bottom: 60px;
}
.icons{
    text-align: center;
}
.icons img {
    width: 120px;
    border-radius: 30px;
    padding-top: 20px;
}
footer{
    margin-top: 40px;
    background-color: #808080;
    padding: 35px;
    text-align: center;
    border-top: 5px solid #4AAAA6;
    position: relative;
    top: 400px;
}

section{
    display: flex;
}



