body {
    box-sizing: border-box;
    background-image: url(/assets/images/concrete_seamless.png);
}

header {
    width: 100%;
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 999999;
}

.name {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    background-color: #4AAAA6;
    width: 18%;
    height: 70px;
    position: relative;
    left: 200px;
    text-align: center;
    padding-top: 30px;
}

.links a {
    font-size: 20px;
    background-color: white;
    text-decoration: none;
    color: #808080;

}

header .links ul {
    display: flex;
    position: relative;
    right: 250px;
    gap: 5px;
}

.catimg img {
    width: 200px;
    padding-top: 0px;
    float: left;
    margin-right: 10px;
}

.aboutme {
    background-color: white;
    width: 40%;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
    left: 200px;
    top: 173px;

}

.aboutme h1 {
    font-size: 35px;
    color: #4AAAA6;
    font-weight: bold;
    position: relative;
    left: 20px;
    top: -10px;
}
.aboutme hr {
    width: 95%;
    padding-bottom: 20px;
}
.text1{
    font-size: 20px;
}

.connect p {
    font-size: 30px;
    font-weight: bold;
    color: #4AAAA6;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.connect hr {
    width: 90%;
    padding-bottom: 20px;
}

.connect {
    width: 30%;
    background-color: white;
    position: absolute;
    left: 900px;
    top: 173px;
    padding-bottom: 60px;
}

.icons {
    text-align: center;
}

.icons img {
    width: 120px;
    border-radius: 30px;
}
footer {
    background-color: #808080;
    padding: 35px;
    text-align: center;
    border-top: 5px solid #4AAAA6;
    position: relative;
    top: 400px;
}